
#mainDiv {
	max-width: 1024px;
	margin: 0 auto;
	overflow: auto;
}

#mainSlider {
	max-width: 1024px;


}

#thumbDiv {
	position:relative;
	top:-7px;
}

.category{
	height: 64px;
	max-width:1024px;
	overflow-x:scroll;
	overflow-y:hidden;
	position: absolute;
	padding: 0;
}

.category img {
	margin: 0 0px;
}

#buttons {
	/*width:100%;*/
	position:relative;
	top: -50px;

}

.button {
	display:inline-block;
	float:left;
	position: relative;
	
	z-index: 99;
	width:25%;
	line-height: 40px;
	text-align: center;
	background: rgba(50, 50, 50, 0.75);
	color:#fff;
	margin:0 0 50px 0;
	padding:0;
	font-family:sans-serif;
	cursor:pointer;
	border-right: solid 1px rgba(50, 50, 50, 1);
}

.button-last {
	border-right:none;
}

.hidden {
	visibility: hidden;
}

.thumbnail {

}
